@import url('../../assets/css/variables.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Permanent+Marker&display=swap');


.form-control {
    border-radius: 18px;
    border: 0.5px solid;
    font-size: smaller
}

.rst-connet {
    color: black;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
}

.rst-pssfogot {
    color: red !important;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
}

.btn-primary{
    width: 100%;
    align-items: center;
    border-radius: 25px !important;
    height: 40px !important;
    align-items: center;
    align-content: center;
    background-color: var(--primary-color) !important;
    opacity: 80% !important;
}

.form-label{
    color: rgb(92, 91, 91) !important;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: var(--primary-color) !important;
  opacity: 100% !important;
  }


.content {
    background-image: url('../../assets/images/fondEcranLogin.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 80% !important;
}
.content .titrerr{
    text-align: center !important;
    font-size: 18px !important;
    color: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
font-family: 'Permanent Marker', cursive;
}

.content .titrer{
    text-align: center !important;
    font-size: 14px !important;
    color: orange;
    font-family: 'Open Sans', sans-serif;
font-family: 'Permanent Marker', cursive;
}