
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.h1-titre{
    color: rgb(240, 245, 248);
    font-size: medium;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}