.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.h-custom {
  height: 100%;
  opacity:100%;
  background-image: url('../images/fondEcranLogin.jpg');
}
@media (max-width: 500px) {
  .h-custom {
    height: 100%;
  }
}

.login-form {
  background: black;
  padding: 10px 5%;
  border-radius:12px;
  border: solid 0px;
  opacity: 84%;

}

.login-form h1 {
  font-size: 24px !important;
  font-weight: bold !important;
  color: white;
  font-style: normal;
  text-align: center !important;
  width: 100%;
}

.form-label{
  font-size: 12px !important;
  font-weight: bold !important;
  color: white;
  font-style: normal;
}

.rst-connet{
  font-size: 13px !important;
  font-weight: bold !important;
  color: white;
  font-style: normal;
}


.reset-password-section {
  background-color: #fff;
  padding: 15px 5%;
  border-radius: var(--border-radius);
}