.titre{
    font-size: small;
    font-weight: 600;
    font-style: normal;
    color: #084661 !important;
}

.fa:hover,
.fa:active,
.fa:focus{
       color: red !important;
       cursor: pointer !important;
}