@import url('../assets/css/variables.css');

.sidenav{

background-color: #011627;    
opacity: 85%;
}
.imge{
    height: 40px;
    width: 160px;
    opacity: 100%;
}
.form-control{
    height: 25px;
}
.btn-seach{
    height: 25px !important;
    border: 0.5px solid  rgb(212, 16, 58);
    border-radius: 18px;
    font-size: small;
    justify-content: center;
    justify-items: center;
    text-align: center;
    font-weight: 500 !important;
    font-style: normal;
    color: black;
    padding-left: 2px !important;
    padding-right: 2px !important;
}

.btn-seach:hover,
.btn-seach:active,
.btn-seach:focus {
  background-color: var(--primary-color) !important;
  opacity: 80%;
  }

.fixed-bottom-dropdown{
    background-color: var(--primary-color);
    opacity: 70%;
}

.sidebar-heading{
background-color: white;
}

.btn-sm:hover,
.btn-sm:active,
.btn-sm:focus{
    background-color: var(--primary-color) !important;
    color: white !important;
}

.drow:hover,
.drow:active,
.drow:focus{
    color: var(--primary-color) !important
}

.drow.active,
.drow.active:hover,
.drow.active:active,
.drow.active:focus {
  color: var(--primary-color) !important;
}

.dropdown{
    background-color: #011627 !important;
}
.fasider{
    color: var(--primary-color);
}
